    /*
    Flaticon icon font: Flaticon
    Creation date: 16/12/2019 13:25
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cell-phone:before { content: "\f100"; }
.flaticon-straight-quotes:before { content: "\f101"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-technology:before { content: "\f104"; }
.flaticon-graph-line-screen:before { content: "\f105"; }
.flaticon-smartphone-call:before { content: "\f106"; }
.flaticon-electric-light-bulb:before { content: "\f107"; }
.flaticon-e-mail-envelope:before { content: "\f108"; }
.flaticon-tool:before { content: "\f109"; }
.flaticon-angle-arrow-pointing-to-right:before { content: "\f10a"; }
.flaticon-chart-of-columns:before { content: "\f10b"; }
.flaticon-quotation-mark:before { content: "\f10c"; }
.flaticon-down-arrow:before { content: "\f10d"; }
.flaticon-up-arrow-angle:before { content: "\f10e"; }
.flaticon-right-arrow-angle:before { content: "\f10f"; }
.flaticon-circle:before { content: "\f110"; }
.flaticon-telephone:before { content: "\f111"; }
.flaticon-three:before { content: "\f112"; }
.flaticon-symbol:before { content: "\f113"; }
.flaticon-line:before { content: "\f114"; }
.flaticon-sign:before { content: "\f115"; }
.flaticon-delete:before { content: "\f116"; }
.flaticon-new-email-outline:before { content: "\f117"; }
.flaticon-check-symbol:before { content: "\f118"; }
.flaticon-round:before { content: "\f119"; }
.flaticon-delete-cross:before { content: "\f11a"; }
.flaticon-location:before { content: "\f11b"; }
.flaticon-clipboard-with-a-list:before { content: "\f11c"; }
.flaticon-shelter:before { content: "\f11d"; }
.flaticon-technology-1:before { content: "\f11e"; }
.flaticon-fax-with-phone:before { content: "\f11f"; }
.flaticon-boat-anchor:before { content: "\f120"; }
.flaticon-interface:before { content: "\f121"; }
.flaticon-photo:before { content: "\f122"; }
.flaticon-social-media:before { content: "\f123"; }
.flaticon-layers:before { content: "\f124"; }
.flaticon-edit-document:before { content: "\f125"; }
.flaticon-people:before { content: "\f126"; }
.flaticon-quote:before { content: "\f127"; }
.flaticon-support:before { content: "\f128"; }
.flaticon-arrow:before { content: "\f129"; }
.flaticon-shape:before { content: "\f12a"; }
.flaticon-cogwheel:before { content: "\f12b"; }
.flaticon-heart:before { content: "\f12c"; }
.flaticon-arrows:before { content: "\f12d"; }
.flaticon-play-button:before { content: "\f12e"; }
.flaticon-home:before { content: "\f12f"; }
.flaticon-cross:before { content: "\f130"; }
.flaticon-line-1:before { content: "\f131"; }
.flaticon-right-arrow:before { content: "\f132"; }
.flaticon-arrows-1:before { content: "\f133"; }
.flaticon-time:before { content: "\f134"; }
.flaticon-nature:before { content: "\f135"; }
.flaticon-email:before { content: "\f136"; }
.flaticon-light-bulb:before { content: "\f137"; }
.flaticon-letter:before { content: "\f138"; }
.flaticon-magnifying-glass:before { content: "\f139"; }
.flaticon-multimedia:before { content: "\f13a"; }
.flaticon-search:before { content: "\f13b"; }
.flaticon-correct:before { content: "\f13c"; }
.flaticon-video-camera:before { content: "\f13d"; }
.flaticon-stats:before { content: "\f13e"; }
.flaticon-arrows-2:before { content: "\f13f"; }
.flaticon-arrows-3:before { content: "\f140"; }
.flaticon-arrows-4:before { content: "\f141"; }
.flaticon-arrows-5:before { content: "\f142"; }
.flaticon-arrows-6:before { content: "\f143"; }
.flaticon-checked:before { content: "\f144"; }
.flaticon-line-2:before { content: "\f145"; }
.flaticon-truck:before { content: "\f146"; }
.flaticon-coin:before { content: "\f147"; }
.flaticon-headphones:before { content: "\f148"; }
.flaticon-shopping-bag:before { content: "\f149"; }
.flaticon-money:before { content: "\f14a"; }
.flaticon-money-1:before { content: "\f14b"; }
.flaticon-garbage:before { content: "\f14c"; }
.flaticon-placeholder:before { content: "\f14d"; }
.flaticon-heart-1:before { content: "\f14e"; }
.flaticon-settings:before { content: "\f14f"; }
.flaticon-link:before { content: "\f150"; }
.flaticon-printer:before { content: "\f151"; }
.flaticon-house:before { content: "\f152"; }
.flaticon-phone-call:before { content: "\f153"; }
.flaticon-shopping-bag-1:before { content: "\f154"; }
.flaticon-envelope:before { content: "\f155"; }
.flaticon-bars:before { content: "\f156"; }
.flaticon-remove:before { content: "\f157"; }
.flaticon-time-1:before { content: "\f158"; }
.flaticon-check:before { content: "\f159"; }
.flaticon-link-1:before { content: "\f15a"; }
.flaticon-check-1:before { content: "\f15b"; }
.flaticon-add:before { content: "\f15c"; }
.flaticon-menu:before { content: "\f15d"; }
.flaticon-anchor:before { content: "\f15e"; }
.flaticon-signs:before { content: "\f15f"; }
.flaticon-menu-1:before { content: "\f160"; }
.flaticon-comment:before { content: "\f161"; }
.flaticon-comment-1:before { content: "\f162"; }
.flaticon-arrows-7:before { content: "\f163"; }
.flaticon-calendar:before { content: "\f164"; }
.flaticon-picture:before { content: "\f165"; }
.flaticon-play-button-1:before { content: "\f166"; }
.flaticon-play-button-2:before { content: "\f167"; }
.flaticon-success:before { content: "\f168"; }
.flaticon-add-1:before { content: "\f169"; }
.flaticon-placeholder-1:before { content: "\f16a"; }
.flaticon-interface-1:before { content: "\f16b"; }
.flaticon-up-arrow:before { content: "\f16c"; }
.flaticon-arrows-8:before { content: "\f16d"; }
.flaticon-arrows-9:before { content: "\f16e"; }
.flaticon-arrows-10:before { content: "\f16f"; }
.flaticon-close:before { content: "\f170"; }
.flaticon-user:before { content: "\f171"; }
.flaticon-bar-chart:before { content: "\f172"; }
.flaticon-speech-bubble:before { content: "\f173"; }
.flaticon-placeholder-2:before { content: "\f174"; }
.flaticon-technology-2:before { content: "\f175"; }
.flaticon-technology-3:before { content: "\f176"; }
.flaticon-link-2:before { content: "\f177"; }
.flaticon-trophy:before { content: "\f178"; }
.flaticon-layers-1:before { content: "\f179"; }
.flaticon-monitor:before { content: "\f17a"; }
.flaticon-home-1:before { content: "\f17b"; }
.flaticon-interface-2:before { content: "\f17c"; }
.flaticon-bar-chart-1:before { content: "\f17d"; }
.flaticon-message:before { content: "\f17e"; }
.flaticon-maps-and-flags:before { content: "\f17f"; }
.flaticon-delete-1:before { content: "\f180"; }
.flaticon-cancel:before { content: "\f181"; }
.flaticon-logout:before { content: "\f182"; }
.flaticon-line-chart:before { content: "\f183"; }
.flaticon-menu-2:before { content: "\f184"; }
.flaticon-like:before { content: "\f185"; }
.flaticon-bar-chart-2:before { content: "\f186"; }
.flaticon-briefcase:before { content: "\f187"; }
.flaticon-agenda:before { content: "\f188"; }
.flaticon-technology-4:before { content: "\f189"; }
.flaticon-arrows-11:before { content: "\f18a"; }
.flaticon-menu-3:before { content: "\f18b"; }
.flaticon-photo-1:before { content: "\f18c"; }
.flaticon-settings-1:before { content: "\f18d"; }
.flaticon-calendar-1:before { content: "\f18e"; }
.flaticon-clipboard:before { content: "\f18f"; }
.flaticon-heart-2:before { content: "\f190"; }
.flaticon-login:before { content: "\f191"; }
.flaticon-logout-1:before { content: "\f192"; }
.flaticon-location-pin:before { content: "\f193"; }
.flaticon-media-play-symbol:before { content: "\f194"; }
.flaticon-user-1:before { content: "\f195"; }
.flaticon-download-arrow:before { content: "\f196"; }
.flaticon-quality:before { content: "\f197"; }
.flaticon-quote-1:before { content: "\f198"; }
.flaticon-right-quote:before { content: "\f199"; }
.flaticon-hand-shake:before { content: "\f19a"; }
.flaticon-suitcase:before { content: "\f19b"; }
.flaticon-pie-chart:before { content: "\f19c"; }
.flaticon-shield:before { content: "\f19d"; }
.flaticon-security:before { content: "\f19e"; }
.flaticon-save:before { content: "\f19f"; }
.flaticon-leaf:before { content: "\f1a0"; }
.flaticon-settings-2:before { content: "\f1a1"; }
.flaticon-nuclear:before { content: "\f1a2"; }
.flaticon-play-button-3:before { content: "\f1a3"; }
.flaticon-play-button-4:before { content: "\f1a4"; }
.flaticon-chat:before { content: "\f1a5"; }
.flaticon-chat-1:before { content: "\f1a6"; }
.flaticon-chat-2:before { content: "\f1a7"; }
.flaticon-placeholder-3:before { content: "\f1a8"; }
.flaticon-smartphone:before { content: "\f1a9"; }
.flaticon-smartphone-1:before { content: "\f1aa"; }
.flaticon-mail:before { content: "\f1ab"; }
.flaticon-mail-1:before { content: "\f1ac"; }
.flaticon-next:before { content: "\f1ad"; }
.flaticon-back:before { content: "\f1ae"; }
.flaticon-diagonal-arrow:before { content: "\f1af"; }
.flaticon-next-1:before { content: "\f1b0"; }
.flaticon-arrow-1:before { content: "\f1b1"; }
.flaticon-telephone-1:before { content: "\f1b2"; }
.flaticon-smartphone-2:before { content: "\f1b3"; }
.flaticon-placeholder-4:before { content: "\f1b4"; }
.flaticon-placeholder-5:before { content: "\f1b5"; }
.flaticon-menu-4:before { content: "\f1b6"; }
.flaticon-menu-5:before { content: "\f1b7"; }
.flaticon-menu-6:before { content: "\f1b8"; }
.flaticon-menu-7:before { content: "\f1b9"; }
.flaticon-menu-8:before { content: "\f1ba"; }
.flaticon-menu-9:before { content: "\f1bb"; }
.flaticon-cancel-1:before { content: "\f1bc"; }
.flaticon-cross-shaped-target:before { content: "\f1bd"; }
.flaticon-targeting-cross:before { content: "\f1be"; }
.flaticon-letter-x:before { content: "\f1bf"; }
.flaticon-magnifying-glass-1:before { content: "\f1c0"; }
.flaticon-photo-camera:before { content: "\f1c1"; }
.flaticon-photo-camera-1:before { content: "\f1c2"; }
.flaticon-help:before { content: "\f1c3"; }
.flaticon-information:before { content: "\f1c4"; }
.flaticon-password:before { content: "\f1c5"; }
.flaticon-user-2:before { content: "\f1c6"; }
.flaticon-surf:before { content: "\f1c7"; }
.flaticon-surf-1:before { content: "\f1c8"; }
.flaticon-jet-ski:before { content: "\f1c9"; }
.flaticon-jet-ski-1:before { content: "\f1ca"; }
.flaticon-surf-sea:before { content: "\f1cb"; }
.flaticon-information-1:before { content: "\f1cc"; }
.flaticon-user-3:before { content: "\f1cd"; }
.flaticon-user-4:before { content: "\f1ce"; }
.flaticon-stopwatch:before { content: "\f1cf"; }
.flaticon-wall-clock:before { content: "\f1d0"; }
.flaticon-scuba:before { content: "\f1d1"; }
.flaticon-scuba-1:before { content: "\f1d2"; }
.flaticon-boat-race:before { content: "\f1d3"; }
.flaticon-wallet:before { content: "\f1d4"; }
.flaticon-quotation:before { content: "\f1d5"; }
.flaticon-circled:before { content: "\f1d6"; }
.flaticon-yacht-facing-right:before { content: "\f1d7"; }
.flaticon-sailboat:before { content: "\f1d8"; }
.flaticon-surfer:before { content: "\f1d9"; }
.flaticon-surfer-1:before { content: "\f1da"; }
.flaticon-user-5:before { content: "\f1db"; }
.flaticon-england:before { content: "\f1dc"; }
.flaticon-boat:before { content: "\f1dd"; }
.flaticon-boat-1:before { content: "\f1de"; }
.flaticon-yacht:before { content: "\f1df"; }
.flaticon-yacht-1:before { content: "\f1e0"; }
.flaticon-ship:before { content: "\f1e1"; }
.flaticon-link-3:before { content: "\f1e2"; }
.flaticon-assistance:before { content: "\f1e3"; }
.flaticon-right-arrow-1:before { content: "\f1e4"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f1e5"; }
.flaticon-chat-3:before { content: "\f1e6"; }
.flaticon-address:before { content: "\f1e7"; }
.flaticon-smartphone-3:before { content: "\f1e8"; }
.flaticon-email-1:before { content: "\f1e9"; }
.flaticon-clock:before { content: "\f1ea"; }
.flaticon-guitar:before { content: "\f1eb"; }
.flaticon-meeting:before { content: "\f1ec"; }
.flaticon-expand:before { content: "\f1ed"; }
.flaticon-price:before { content: "\f1ee"; }
.flaticon-technician:before { content: "\f1ef"; }
.flaticon-double-arrow:before { content: "\f1f0"; }
.flaticon-boat-2:before { content: "\f1f1"; }
.flaticon-gas:before { content: "\f1f2"; }
.flaticon-brochure:before { content: "\f1f3"; }
.flaticon-share:before { content: "\f1f4"; }
.flaticon-kitchen:before { content: "\f1f5"; }
.flaticon-swimming-pool:before { content: "\f1f6"; }
.flaticon-swimming-pool-1:before { content: "\f1f7"; }
.flaticon-video:before { content: "\f1f8"; }
.flaticon-cinema:before { content: "\f1f9"; }
.flaticon-treadmill:before { content: "\f1fa"; }
.flaticon-map:before { content: "\f1fb"; }
.flaticon-map-1:before { content: "\f1fc"; }
    
    $font-Flaticon-cell-phone: "\f100";
    $font-Flaticon-straight-quotes: "\f101";
    $font-Flaticon-blocks-with-angled-cuts: "\f102";
    $font-Flaticon-business: "\f103";
    $font-Flaticon-technology: "\f104";
    $font-Flaticon-graph-line-screen: "\f105";
    $font-Flaticon-smartphone-call: "\f106";
    $font-Flaticon-electric-light-bulb: "\f107";
    $font-Flaticon-e-mail-envelope: "\f108";
    $font-Flaticon-tool: "\f109";
    $font-Flaticon-angle-arrow-pointing-to-right: "\f10a";
    $font-Flaticon-chart-of-columns: "\f10b";
    $font-Flaticon-quotation-mark: "\f10c";
    $font-Flaticon-down-arrow: "\f10d";
    $font-Flaticon-up-arrow-angle: "\f10e";
    $font-Flaticon-right-arrow-angle: "\f10f";
    $font-Flaticon-circle: "\f110";
    $font-Flaticon-telephone: "\f111";
    $font-Flaticon-three: "\f112";
    $font-Flaticon-symbol: "\f113";
    $font-Flaticon-line: "\f114";
    $font-Flaticon-sign: "\f115";
    $font-Flaticon-delete: "\f116";
    $font-Flaticon-new-email-outline: "\f117";
    $font-Flaticon-check-symbol: "\f118";
    $font-Flaticon-round: "\f119";
    $font-Flaticon-delete-cross: "\f11a";
    $font-Flaticon-location: "\f11b";
    $font-Flaticon-clipboard-with-a-list: "\f11c";
    $font-Flaticon-shelter: "\f11d";
    $font-Flaticon-technology-1: "\f11e";
    $font-Flaticon-fax-with-phone: "\f11f";
    $font-Flaticon-boat-anchor: "\f120";
    $font-Flaticon-interface: "\f121";
    $font-Flaticon-photo: "\f122";
    $font-Flaticon-social-media: "\f123";
    $font-Flaticon-layers: "\f124";
    $font-Flaticon-edit-document: "\f125";
    $font-Flaticon-people: "\f126";
    $font-Flaticon-quote: "\f127";
    $font-Flaticon-support: "\f128";
    $font-Flaticon-arrow: "\f129";
    $font-Flaticon-shape: "\f12a";
    $font-Flaticon-cogwheel: "\f12b";
    $font-Flaticon-heart: "\f12c";
    $font-Flaticon-arrows: "\f12d";
    $font-Flaticon-play-button: "\f12e";
    $font-Flaticon-home: "\f12f";
    $font-Flaticon-cross: "\f130";
    $font-Flaticon-line-1: "\f131";
    $font-Flaticon-right-arrow: "\f132";
    $font-Flaticon-arrows-1: "\f133";
    $font-Flaticon-time: "\f134";
    $font-Flaticon-nature: "\f135";
    $font-Flaticon-email: "\f136";
    $font-Flaticon-light-bulb: "\f137";
    $font-Flaticon-letter: "\f138";
    $font-Flaticon-magnifying-glass: "\f139";
    $font-Flaticon-multimedia: "\f13a";
    $font-Flaticon-search: "\f13b";
    $font-Flaticon-correct: "\f13c";
    $font-Flaticon-video-camera: "\f13d";
    $font-Flaticon-stats: "\f13e";
    $font-Flaticon-arrows-2: "\f13f";
    $font-Flaticon-arrows-3: "\f140";
    $font-Flaticon-arrows-4: "\f141";
    $font-Flaticon-arrows-5: "\f142";
    $font-Flaticon-arrows-6: "\f143";
    $font-Flaticon-checked: "\f144";
    $font-Flaticon-line-2: "\f145";
    $font-Flaticon-truck: "\f146";
    $font-Flaticon-coin: "\f147";
    $font-Flaticon-headphones: "\f148";
    $font-Flaticon-shopping-bag: "\f149";
    $font-Flaticon-money: "\f14a";
    $font-Flaticon-money-1: "\f14b";
    $font-Flaticon-garbage: "\f14c";
    $font-Flaticon-placeholder: "\f14d";
    $font-Flaticon-heart-1: "\f14e";
    $font-Flaticon-settings: "\f14f";
    $font-Flaticon-link: "\f150";
    $font-Flaticon-printer: "\f151";
    $font-Flaticon-house: "\f152";
    $font-Flaticon-phone-call: "\f153";
    $font-Flaticon-shopping-bag-1: "\f154";
    $font-Flaticon-envelope: "\f155";
    $font-Flaticon-bars: "\f156";
    $font-Flaticon-remove: "\f157";
    $font-Flaticon-time-1: "\f158";
    $font-Flaticon-check: "\f159";
    $font-Flaticon-link-1: "\f15a";
    $font-Flaticon-check-1: "\f15b";
    $font-Flaticon-add: "\f15c";
    $font-Flaticon-menu: "\f15d";
    $font-Flaticon-anchor: "\f15e";
    $font-Flaticon-signs: "\f15f";
    $font-Flaticon-menu-1: "\f160";
    $font-Flaticon-comment: "\f161";
    $font-Flaticon-comment-1: "\f162";
    $font-Flaticon-arrows-7: "\f163";
    $font-Flaticon-calendar: "\f164";
    $font-Flaticon-picture: "\f165";
    $font-Flaticon-play-button-1: "\f166";
    $font-Flaticon-play-button-2: "\f167";
    $font-Flaticon-success: "\f168";
    $font-Flaticon-add-1: "\f169";
    $font-Flaticon-placeholder-1: "\f16a";
    $font-Flaticon-interface-1: "\f16b";
    $font-Flaticon-up-arrow: "\f16c";
    $font-Flaticon-arrows-8: "\f16d";
    $font-Flaticon-arrows-9: "\f16e";
    $font-Flaticon-arrows-10: "\f16f";
    $font-Flaticon-close: "\f170";
    $font-Flaticon-user: "\f171";
    $font-Flaticon-bar-chart: "\f172";
    $font-Flaticon-speech-bubble: "\f173";
    $font-Flaticon-placeholder-2: "\f174";
    $font-Flaticon-technology-2: "\f175";
    $font-Flaticon-technology-3: "\f176";
    $font-Flaticon-link-2: "\f177";
    $font-Flaticon-trophy: "\f178";
    $font-Flaticon-layers-1: "\f179";
    $font-Flaticon-monitor: "\f17a";
    $font-Flaticon-home-1: "\f17b";
    $font-Flaticon-interface-2: "\f17c";
    $font-Flaticon-bar-chart-1: "\f17d";
    $font-Flaticon-message: "\f17e";
    $font-Flaticon-maps-and-flags: "\f17f";
    $font-Flaticon-delete-1: "\f180";
    $font-Flaticon-cancel: "\f181";
    $font-Flaticon-logout: "\f182";
    $font-Flaticon-line-chart: "\f183";
    $font-Flaticon-menu-2: "\f184";
    $font-Flaticon-like: "\f185";
    $font-Flaticon-bar-chart-2: "\f186";
    $font-Flaticon-briefcase: "\f187";
    $font-Flaticon-agenda: "\f188";
    $font-Flaticon-technology-4: "\f189";
    $font-Flaticon-arrows-11: "\f18a";
    $font-Flaticon-menu-3: "\f18b";
    $font-Flaticon-photo-1: "\f18c";
    $font-Flaticon-settings-1: "\f18d";
    $font-Flaticon-calendar-1: "\f18e";
    $font-Flaticon-clipboard: "\f18f";
    $font-Flaticon-heart-2: "\f190";
    $font-Flaticon-login: "\f191";
    $font-Flaticon-logout-1: "\f192";
    $font-Flaticon-location-pin: "\f193";
    $font-Flaticon-media-play-symbol: "\f194";
    $font-Flaticon-user-1: "\f195";
    $font-Flaticon-download-arrow: "\f196";
    $font-Flaticon-quality: "\f197";
    $font-Flaticon-quote-1: "\f198";
    $font-Flaticon-right-quote: "\f199";
    $font-Flaticon-hand-shake: "\f19a";
    $font-Flaticon-suitcase: "\f19b";
    $font-Flaticon-pie-chart: "\f19c";
    $font-Flaticon-shield: "\f19d";
    $font-Flaticon-security: "\f19e";
    $font-Flaticon-save: "\f19f";
    $font-Flaticon-leaf: "\f1a0";
    $font-Flaticon-settings-2: "\f1a1";
    $font-Flaticon-nuclear: "\f1a2";
    $font-Flaticon-play-button-3: "\f1a3";
    $font-Flaticon-play-button-4: "\f1a4";
    $font-Flaticon-chat: "\f1a5";
    $font-Flaticon-chat-1: "\f1a6";
    $font-Flaticon-chat-2: "\f1a7";
    $font-Flaticon-placeholder-3: "\f1a8";
    $font-Flaticon-smartphone: "\f1a9";
    $font-Flaticon-smartphone-1: "\f1aa";
    $font-Flaticon-mail: "\f1ab";
    $font-Flaticon-mail-1: "\f1ac";
    $font-Flaticon-next: "\f1ad";
    $font-Flaticon-back: "\f1ae";
    $font-Flaticon-diagonal-arrow: "\f1af";
    $font-Flaticon-next-1: "\f1b0";
    $font-Flaticon-arrow-1: "\f1b1";
    $font-Flaticon-telephone-1: "\f1b2";
    $font-Flaticon-smartphone-2: "\f1b3";
    $font-Flaticon-placeholder-4: "\f1b4";
    $font-Flaticon-placeholder-5: "\f1b5";
    $font-Flaticon-menu-4: "\f1b6";
    $font-Flaticon-menu-5: "\f1b7";
    $font-Flaticon-menu-6: "\f1b8";
    $font-Flaticon-menu-7: "\f1b9";
    $font-Flaticon-menu-8: "\f1ba";
    $font-Flaticon-menu-9: "\f1bb";
    $font-Flaticon-cancel-1: "\f1bc";
    $font-Flaticon-cross-shaped-target: "\f1bd";
    $font-Flaticon-targeting-cross: "\f1be";
    $font-Flaticon-letter-x: "\f1bf";
    $font-Flaticon-magnifying-glass-1: "\f1c0";
    $font-Flaticon-photo-camera: "\f1c1";
    $font-Flaticon-photo-camera-1: "\f1c2";
    $font-Flaticon-help: "\f1c3";
    $font-Flaticon-information: "\f1c4";
    $font-Flaticon-password: "\f1c5";
    $font-Flaticon-user-2: "\f1c6";
    $font-Flaticon-surf: "\f1c7";
    $font-Flaticon-surf-1: "\f1c8";
    $font-Flaticon-jet-ski: "\f1c9";
    $font-Flaticon-jet-ski-1: "\f1ca";
    $font-Flaticon-surf-sea: "\f1cb";
    $font-Flaticon-information-1: "\f1cc";
    $font-Flaticon-user-3: "\f1cd";
    $font-Flaticon-user-4: "\f1ce";
    $font-Flaticon-stopwatch: "\f1cf";
    $font-Flaticon-wall-clock: "\f1d0";
    $font-Flaticon-scuba: "\f1d1";
    $font-Flaticon-scuba-1: "\f1d2";
    $font-Flaticon-boat-race: "\f1d3";
    $font-Flaticon-wallet: "\f1d4";
    $font-Flaticon-quotation: "\f1d5";
    $font-Flaticon-circled: "\f1d6";
    $font-Flaticon-yacht-facing-right: "\f1d7";
    $font-Flaticon-sailboat: "\f1d8";
    $font-Flaticon-surfer: "\f1d9";
    $font-Flaticon-surfer-1: "\f1da";
    $font-Flaticon-user-5: "\f1db";
    $font-Flaticon-england: "\f1dc";
    $font-Flaticon-boat: "\f1dd";
    $font-Flaticon-boat-1: "\f1de";
    $font-Flaticon-yacht: "\f1df";
    $font-Flaticon-yacht-1: "\f1e0";
    $font-Flaticon-ship: "\f1e1";
    $font-Flaticon-link-3: "\f1e2";
    $font-Flaticon-assistance: "\f1e3";
    $font-Flaticon-right-arrow-1: "\f1e4";
    $font-Flaticon-chat-comment-oval-speech-bubble-with-text-lines: "\f1e5";
    $font-Flaticon-chat-3: "\f1e6";
    $font-Flaticon-address: "\f1e7";
    $font-Flaticon-smartphone-3: "\f1e8";
    $font-Flaticon-email-1: "\f1e9";
    $font-Flaticon-clock: "\f1ea";
    $font-Flaticon-guitar: "\f1eb";
    $font-Flaticon-meeting: "\f1ec";
    $font-Flaticon-expand: "\f1ed";
    $font-Flaticon-price: "\f1ee";
    $font-Flaticon-technician: "\f1ef";
    $font-Flaticon-double-arrow: "\f1f0";
    $font-Flaticon-boat-2: "\f1f1";
    $font-Flaticon-gas: "\f1f2";
    $font-Flaticon-brochure: "\f1f3";
    $font-Flaticon-share: "\f1f4";
    $font-Flaticon-kitchen: "\f1f5";
    $font-Flaticon-swimming-pool: "\f1f6";
    $font-Flaticon-swimming-pool-1: "\f1f7";
    $font-Flaticon-video: "\f1f8";
    $font-Flaticon-cinema: "\f1f9";
    $font-Flaticon-treadmill: "\f1fa";
    $font-Flaticon-map: "\f1fb";
    $font-Flaticon-map-1: "\f1fc";